.container {
    width: 1280px;
    margin: 0 auto;
    font-family: Arial;
    box-sizing: border-box;
}
.padding_site {
    padding: 50px;
    box-sizing: border-box;
}
.main_header {
    width: 100%;
    background: #445161;
    padding: 50px;
    box-sizing: border-box;
    color: #fff
}
.main_header::after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.main_header_wrapper {
    float: left;

}
.main_header_title {
    font-size: 60px;
    font-weight: 400;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}
.main_header_list {
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    padding: 0 0 0 25px;
    margin: 40px 0 0 0;
}
.main_header_list_item{
    list-style-type: none;
    position: relative;
}
.main_header_list_item::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 6px;
    left: -25px;
    background-image: url(../img/header_list_vector.svg);
    background-size: cover;
}
.main_header_photo {
    min-height: 100px;
    display: block;
    background-color: #fff;
    float: right;
}
.about_product::after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.about_product_wrapper {
    float: left;
    width: 50%;
}
.section_title {
    display: block;
    font-size: 30px;
    line-height: 36px;
    color: #445161;
    padding-bottom: 17px;
}
.section_text {
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    padding: 0 0 11px 0;
    margin: 0 0 0 0;
}
.about_product_video {
    background: #445161;
    float: right;
    display: block;
    min-height: 100px;
}
.dignity {
    background: #F5F5F5;
}
.dignity_title {
    display: block;
    text-align: center;
    padding-bottom: 22px;
}
.dignity_detailsSummary {
    display: inline-block;
    column-count: 2;
    column-gap: 78px;
}
.dignity_text {
    padding-bottom: 33px;
}
.dignity_summary {
    position: relative;
}
details summary::-webkit-details-marker {
    display: none
  }
details summary:before {
    content: "";
    width: 35px;
    height: 35px;
    background-color: #445161; 
    background-image: url(../img/dignity_plus.svg);
    background-size: cover;
    position: absolute;
    top: 8px;
    left: -43px;
}
