.container {
    width: 1280px;
    margin: 0 auto;
    font-family: Arial;
    box-sizing: border-box;
}
.padding_site {
    padding: 50px;
    box-sizing: border-box;
}
.main_header {
    width: 100%;
    background: #445161;
    padding: 50px;
    box-sizing: border-box;
    color: #fff
}
.main_header_wrapper {

}
.main_header_title {

}
.main_header_list {
    list-style-type: none;
}
.main_header_list_item{

}
.main_header_photo {
    display: block;
    background-color: #fff;
     
}