.container {
  width: 1280px;
  margin: 0 auto;
  font-family: Arial;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.padding_site {
  padding: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main_header {
  width: 100%;
  background: #445161;
  padding: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
}

.main_header::after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.main_header_wrapper {
  float: left;
}

.main_header_title {
  font-size: 60px;
  font-weight: 400;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.main_header_list {
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  padding: 0 0 0 25px;
  margin: 40px 0 0 0;
}

.main_header_list_item {
  list-style-type: none;
  position: relative;
}

.main_header_list_item::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 6px;
  left: -25px;
  background-image: url(../img/header_list_vector.svg);
  background-size: cover;
}

.main_header_photo {
  min-height: 100px;
  display: block;
  background-color: #fff;
  float: right;
}

.about_product::after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.about_product_wrapper {
  float: left;
  width: 50%;
}

.section_title {
  display: block;
  font-size: 30px;
  line-height: 36px;
  color: #445161;
  padding-bottom: 17px;
}

.about_product_text {
  padding-bottom: 11px;
  margin: 0 0 0 0;
}

.section_text {
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

.about_product_video {
  background: #445161;
  float: right;
  display: block;
  min-height: 100px;
}

.dignity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  background: #F5F5F5;
}

.dignity_title {
  width: 100%;
  margin: 0 0 30px 0;
  text-align: center;
}

.details_wrapper {
  width: 50%;
}

.details_item {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.dignity_text {
  padding-bottom: 33px;
  width: 90%;
  padding-left: 40px;
}

.dignity_summary {
  position: relative;
}

details summary::-webkit-details-marker {
  display: none;
}

details summary:before {
  content: "";
  width: 35px;
  height: 35px;
  background-color: #445161;
  background-image: url(../img/dignity_plus.svg);
  background-size: cover;
  position: absolute;
  top: 8px;
  left: -43px;
  margin-left: 40px;
}

.screenshots {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.screenshots_title {
  text-align: center;
  width: 100%;
}

.screens_figure {
  width: 575px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 28px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.screens_figure:nth-child(4),
.screens_figure:nth-child(5) {
  margin: 0px;
}

.add_content_description {
  width: 350px;
}

.screens_item_title {
  margin: 0;
  font-family: Arial;
  font-size: 24px;
  line-height: 30px;
  color: #445161;
}

.screens_item_text {
  margin: 0;
}

.add_content_img {
  display: block;
  min-height: 150px;
  background-color: #445161;
}

.reviews {
  background: #F5F5F5;
}

.reviews_title {
  text-align: center;
  padding-bottom: 30px;
}

.reviews_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reviews_item {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews_img {
  background: #445161;
  border-radius: 50%;
  position: relative;
}

.reviews_item:nth-child(1),
.reviews_item:nth-child(3) {
  margin-right: 15px;
}

.reviews_img:nth-child(2),
.reviews_img:nth-child(4) {
  margin-right: 35px;
  margin-left: 15px;
}

.reviews_img::after {
  content: "";
  border: 10px solid transparent;
  border-top: 10px solid #EBEBEB;
  position: absolute;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  right: -15px;
  bottom: 5px;
}

.reviews_text {
  background: #EBEBEB;
  border-bottom: 5px;
  font-style: italic;
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 0 15px;
  width: 483px;
  padding: 16px 10px 0 15px;
}

.reviews_item:nth-child(3),
.reviews_item:nth-child(4) {
  margin-top: 22px;
}

.reviews_signature {
  font-style: italic;
  font-size: 14px;
  line-height: 18px;
  color: #989898;
}
/*# sourceMappingURL=styles.css.map */