.container {
  width: 1280px;
  margin: 0 auto;
  font-family: Arial;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.padding_site {
  padding: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main_header {
  width: 100%;
  background: #445161;
  padding: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
}

.main_header::after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.main_header_wrapper {
  float: left;
}

.main_header_title {
  font-size: 60px;
  font-weight: 400;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.main_header_list {
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  padding: 0 0 0 25px;
  margin: 40px 0 0 0;
}

.main_header_list_item {
  list-style-type: none;
  position: relative;
}

.main_header_list_item::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 6px;
  left: -25px;
  background-image: url(../img/header_list_vector.svg);
  background-size: cover;
}

.main_header_photo {
  min-height: 100px;
  display: block;
  background-color: #fff;
  float: right;
}

.about_product::after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.about_product_wrapper {
  float: left;
  width: 50%;
}

.section_title {
  display: block;
  font-size: 30px;
  line-height: 36px;
  color: #445161;
  padding-bottom: 17px;
}

.about_product_text {
  padding-bottom: 11px;
  margin: 0 0 0 0;
}

.section_text {
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

.about_product_video {
  background: #445161;
  float: right;
  display: block;
  min-height: 100px;
}

.dignity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  background: #F5F5F5;
}

.dignity_title {
  width: 100%;
  margin: 0 0 30px 0;
  text-align: center;
}

.details_wrapper {
  width: 50%;
}

.details_item {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.dignity_text {
  padding-bottom: 33px;
  width: 90%;
  padding-left: 40px;
}

.dignity_summary {
  position: relative;
}

details summary::-webkit-details-marker {
  display: none;
}

details summary:before {
  content: "";
  width: 35px;
  height: 35px;
  background-color: #445161;
  background-image: url(../img/dignity_plus.svg);
  background-size: cover;
  position: absolute;
  top: 8px;
  left: -43px;
  margin-left: 40px;
}

.screenshots {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.screenshots_title {
  text-align: center;
  width: 100%;
  padding-bottom: 45px;
}

.screens_figure {
  width: 575px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 28px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.screens_figure:nth-child(4),
.screens_figure:nth-child(5) {
  margin: 0px;
}

.add_content_description {
  width: 350px;
}

.screens_item_title {
  margin: 0;
  font-family: Arial;
  font-size: 24px;
  line-height: 30px;
  color: #445161;
}

.screens_item_text {
  margin: 0;
}

.add_content_img {
  display: block;
  min-height: 150px;
  background-color: #445161;
}

.reviews {
  background: #F5F5F5;
}

.reviews_title {
  text-align: center;
  padding-bottom: 30px;
}

.reviews_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reviews_item {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews_img {
  background: #445161;
  border-radius: 50%;
  position: relative;
}

.reviews_item:nth-child(1),
.reviews_item:nth-child(3) {
  margin-right: 15px;
}

.reviews_img:nth-child(2),
.reviews_img:nth-child(4) {
  margin-right: 35px;
  margin-left: 15px;
}

.reviews_img::after {
  content: "";
  border: 10px solid transparent;
  border-top: 10px solid #EBEBEB;
  position: absolute;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  right: -15px;
  bottom: 5px;
}

.reviews_text {
  background: #EBEBEB;
  border-bottom: 5px;
  font-style: italic;
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 0 15px;
  width: 483px;
  padding: 16px 10px 0 15px;
}

.reviews_item:nth-child(3),
.reviews_item:nth-child(4) {
  margin-top: 22px;
}

.reviews_signature {
  font-style: italic;
  font-size: 14px;
  line-height: 18px;
  color: #989898;
}

.buy_it_now {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.buy_title {
  width: 100%;
  text-align: center;
  padding-bottom: 26px;
}

.package_buy {
  border: 1px solid #000;
  background: #445161;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
}

.package_title {
  display: block;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
  padding: 13px 75px 8px 105px;
}

.price {
  background: #FFFFFF;
  border: 2px solid #445162;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 40px;
  line-height: 30px;
  color: #445162;
  padding: 25px 76px 15px 107px;
}

.package_list {
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 8px 8px 0 45px;
  margin: 0;
}

.buy_bt {
  border: 1px solid #445162;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  color: #445161;
  background: #FFFFFF;
  padding: 16px 83px 9px 83px;
  margin: 16px 19px 19px 19px;
  border-radius: 10px;
}

.buy_bt:hover {
  color: grey;
  background-color: hotpink;
}

.buy_bt:active {
  color: black;
  background-color: red;
}

.main_footer {
  background: #445162;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_title {
  width: 100%;
  color: #FFFFFF;
  text-align: center;
  padding: 25px 43px;
}

.footer_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer_form .form_text {
  border: 1px solid #445162;
  border-radius: 5px;
  font-size: 16px;
  line-height: 24px;
  color: #445162;
  word-break: break-all;
  outline: none;
  margin-bottom: 20px;
  width: 500px;
  height: 43px;
}

.footer_form .form_email {
  border: 1px solid #445162;
  border-radius: 5px;
  font-size: 16px;
  line-height: 24px;
  color: #445162;
  word-break: break-all;
  outline: none;
  margin-bottom: 20px;
  width: 500px;
  height: 43px;
}

.footer_form .form_textarea {
  border: 1px solid #445162;
  border-radius: 5px;
  font-size: 16px;
  line-height: 24px;
  color: #445162;
  word-break: break-all;
  outline: none;
  margin-bottom: 20px;
  width: 500px;
}

.footer_form .form_submit {
  border: 1px solid #445162;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #445162;
  text-transform: uppercase;
  word-break: break-all;
  outline: none;
  margin-bottom: 55px;
  text-align: center;
  width: 150px;
  height: 43px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.contacts_wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sub_contacts {
  margin-left: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sub_contacts_link {
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  padding-bottom: 20px;
  position: relative;
}

.skype::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../img/skype_icon.svg);
  background-size: cover;
  position: absolute;
  left: -25px;
}

.icq::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../img/icq_icon.svg);
  background-size: cover;
  position: absolute;
  left: -25px;
}

.mail::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../img/mail_icon.svg);
  background-size: cover;
  position: absolute;
  left: -25px;
}

.phone::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../img/phone_icon.svg);
  background-size: cover;
  position: absolute;
  left: -25px;
}

.social_contacts {
  -ms-flex-item-align: baseline;
      align-self: baseline;
  margin-left: 50px;
}

.copy {
  display: block;
  text-align: center;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #445162;
}
/*# sourceMappingURL=styles.css.map */